body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff; 
   
}
.header {
    color: #fff;
    background: linear-gradient(90deg, #ff0000, #ff5500);
    height: 60px;
    position: fixed;
    width: 98%;
    top: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    opacity: 90%;
}

#mainHeader {
    font-size: 2rem;
    margin: 0 auto;
    text-align: center;
    margin-left: 10px; /* Ajustează pentru a centra mai bine titlul */
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 10px;
    background: linear-gradient(90deg, #ff0000, #ff5500);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.navbar {
    width: 300px;
    height: 40vh;
    position: fixed;
    top: 75px;
    right: 0;
    font-size: 1.5rem;
    display: none;
    
}

.navbar ul {
    list-style-type: none;
    padding: 0;
}

.navbar ul.menu {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.navbar ul.menu li {
    display: inline;
}

.navbar ul.menu li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}
#menuButton {
    font-size: 1.5rem;
    cursor: pointer;
    color: #fff;
    margin-right: 2%;
    background-color: transparent;
    border: none;
    transition: all 0.5s ease;
}


#menuContent {
    background: linear-gradient(90deg, #ff0000, #ff5500);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    height: 40vh;
    top: 0;
    padding: 10px;
    transition: all 0.5s ease;
}

#menuContent a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#menuContent a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.hidden {
    display: none;
}
#infoButton {
    font-size: 1.5rem;
    cursor: pointer;
    color: #fff;
    margin-right: 2%;
    background-color: transparent;
    border: none;
}
#infoContent {
    position: fixed;
    top: 30%;
    right:10%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    background: linear-gradient(90deg, #ff0000, #ff5500);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none;
    text-align: center;
    border-radius: 10px;
    opacity: 80%;
}
#closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}
#logo {
    height: 90px; /* Ajustează dimensiunea după cum este necesar */
    width: auto;
    max-width: 100px; /* Lățime maximă pentru logo */
    height: auto; /* Înălțime automată pentru a menține proporțiile */
    display: block; /* Afișare ca bloc pentru a centra */
    
}

